body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: https://www.novascotia.com/travel-info/weather;
}

.weather-container {
  background-color: rgb(224, 151, 218);
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #437dc9;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f13417;
}

#weather-info {
  margin-top: 20px;
}
